.system-controller {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 100;

  .right-controller {
    position: absolute;
    top: 16px;
    right: 16px;
    pointer-events: auto;
  }
}
